# Environment variables / secrets
.env
**/.env

# Python cache / bytecode
__pycache__/
**/__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# IDE / OS local files
.vscode/
.DS_Store
Thumbs.db
